<div>
    <div>ID: <input type="text" [(ngModel)]="movie.id" /></div>
    <div>TITLE: <input type="text" [(ngModel)]="movie.title" /></div>
    <div>DEBUT: <input type="text" [(ngModel)]="movie.debut" /></div>
    <div>GENRE: <input type="text" [(ngModel)]="movie.genre" /></div>
    <div>RATING: <input type="text" [(ngModel)]="movie.rating" /></div>
    <div>DIRECTOR: <input type="text" [(ngModel)]="movie.director" /></div>
    <div><button type="button" (click)="createMovie()" >Add</button></div>
</div>
